<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin7.png">
                        <h5><a>Convenient</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin8.png">
                        <h5><a>Fast</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin2.png">
                        <h5><a>Efficient</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin5.png">
                        <h5><a>Cheap</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/image/icons/admin6.png">
                        <h5><a>Everyday</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Services</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li><a href="/users/home">All</a></li>
                        <li><a href="/users/home?featureproducts=1">Dry Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=2">Laundry Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=3">Shoes Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=4">Furniture Cleaning</a></li>
                        <li><a href="/users/home?featureproducts=5">Stuffed dolls cleaning</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            {{#each services}}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg={{image}}>
                        <ul class="featured__item__pic__hover">
                            <li><button class="service-btn" onclick="addSer(this.value)" value="{{idservice}}">
                                <a><i class="fa fa-shopping-cart"></i></a></button>
                            </li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="services/{{idservice}}">{{servicename}}</a></h6>
                        <h5>{{price}} VNĐ</h5>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Featured Section End -->

{{!-- <!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/image/banner/washingmachine.webp" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/image/banner/washingmachine.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->--}}

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="latest-product__text">
                    <h4>Suggested Services</h4>
                    <div class="latest-product__slider owl-carousel">
                        {{!-- {{#each suggest}} --}}
                        {{#each services}}
                        <div class="latest-prdouct__slider__item">
                            <a href="services/{{idservice}}" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src={{image}} alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6><a href="services/{{idservice}}">{{servicename}}</a></h6>
                                    <span>{{price}} VNĐ</span>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="latest-product__text">
                    <h4>Featured Shops</h4>
                    <div class="latest-product__slider owl-carousel">
                        {{#each shops}}
                        <div class="latest-prdouct__slider__item">
                            <a href="shops/{{idshop}}" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    {{!-- <img src={{shopimage}} alt="/users/img/logo.png"> --}}
                                    <img src="/users/img/logo.png">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6><a href="shops/{{idshop}}">{{shopname}}</a></h6>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End --> 
<br><br>
<br><br>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/image/banner/sunflower1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <a href="/users/shop-grid"><h2>Filter/Sort Services</h2></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->